* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(#647dee, #7f53ac);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s;
  background: transparent;
  z-index: 1000;
}
.logo {
  margin-left: 100px;
  padding-top: 2vh;
  position: relative;
  color: rgb(254, 254, 254);
  text-decoration: none;
  font-size: 3em;
  font-weight: 700;
}
.href-header {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
}
.href-header:hover {
  border-bottom: 0.5px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
}
.bg {
  background: transparent;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.bg img {
  width: 800px;
}
.content {
  width: 50%;
  height: 100%;
}
.content h6 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.content h1 {
  font-size: 80px;
  color: rgb(255, 255, 255);
  line-height: 1;
  margin-top: 10px;
  text-transform: uppercase;
}
.content h3 {
  text-transform: uppercase;
}
.content p {
  color: #fcfbfc;
  max-width: 100%;
  width: 480px;
  line-height: 2;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.btn-play-now {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 9px 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
}
.btn-play-now:hover {
  background: rgb(8, 8, 8);
  color: rgb(247, 247, 247);
  transition: 0.5s;
  border: 1px solid rgb(9, 9, 9);
  transform: scale(1.1);
  transition: 0.4s;
}
.buttons {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: rgb(253, 253, 253);
}
ion-icon {
  margin-left: 22px;
}
ion-icon:hover {
  transform: scale(1.4);
  transition: 0.3s;
  color: rgb(255, 255, 255);
}
